<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Social Engine{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='static/css/bootstrap.css'>
    
    
</head>

<body>
    <div id="sidebar" class="jumbotron">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Find People</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
